@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

/* Logo */

#logito h2 span:nth-child(1),
#logito h3 span:nth-child(1){
    background: #A300FF;
    color: #fff;
    border-radius: 6px;
    font-family: 'Oleo Script', serif;
    font-weight: 400;
    padding: 0.2em;
    font-size: 1em;
    letter-spacing: 0.05em;
}

#logito span:nth-child(2) {
    font-weight: 800;
    letter-spacing: 0.025em;
    font-size: 0.7em;
    margin: 1em 0 0 0.25em;
    color: #656869;
}

.header-style-1 .header-nav{
    background: #7100B0;
}

.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li > a:hover, 
.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li > a:focus{
    background: #B633FF;
}

.sidebar .side-menu nav .nav > li a:hover, 
.sidebar .side-menu nav .nav > li a:focus{
    color: #B633FF;
}

.sidebar .side-menu nav .nav > li > a:hover, 
.sidebar .side-menu nav .nav > li > a:focus{
    border-left: 5px solid #B633FF;
}

.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket .total-price{
    color: #B633FF;
}

.sidebar .side-menu nav .nav > li a:hover:after, .sidebar .side-menu nav .nav > li a:focus:after{
    color: #B633FF;
}

.custom-carousel .owl-controls .owl-prev:hover,
.custom-carousel .owl-controls .owl-next:hover,
.custom-carousel .owl-controls .owl-prev:focus,
.custom-carousel .owl-controls .owl-next:focus {
  background: #B633FF;
}

#owl-main:hover .owl-prev:hover,
#owl-main:hover .owl-next:hover {
    background: #B633FF;
}

#owl-main .owl-controls .owl-pagination .owl-page:active span,
#owl-main .owl-controls .owl-pagination .owl-page:hover span {
    background: #B633FF;
}

.top-bar .cnt-account ul > li a:hover,
.top-bar .cnt-account ul > li a:focus {
  color: #B633FF;
}

.scroll-tabs .nav-tab-line li a:hover,
.scroll-tabs .nav-tab-line li a:focus {
  color: #B633FF;
}

.product .product-info .product-price .price{
    color: #7100B0;
}

.furniture-container .product .btn-primary:hover,
.furniture-container .product .btn-primary:focus {
  background: #B633FF;
}

.footer .links-social .social-icons a:hover,
.footer .links-social .social-icons a:focus,
.footer .links-social .social-icons a.active {
  background: #B633FF;
}

.footer .contact-information .media .media-body a:hover,
.footer .contact-information .media .media-body a:focus {
    color: #B633FF;
}

.footer .contact-information .media .icon .fa-stack-2x {
    color: #7100B0;
}

.category-carousel .item .caption .excerpt{
    font-family: 'Teko', sans-serif;
    font-size: 3.5em;
    color: white;
    text-shadow: 0px 0px 20px black;;
}

.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle,
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle:hover,
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle:focus,
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle:after {
  color: #B633FF;
}

.product .cart .action ul li.lnk a:hover,
.product .cart .action ul li.lnk a:focus {
  color: #B633FF;
}

.product .cart .action ul li.add-cart-button .btn-primary:hover,
.product .cart .action ul li.add-cart-button .btn-primary:focus {
  background: #B633FF;
}

.product .cart .action ul li.add-cart-button .btn-primary.icon:hover,
.product .cart .action ul li.add-cart-button .btn-primary.icon:focus {
  background: #B633FF;
}

.category-product .cart .action ul li .add-to-cart:hover,
.category-product .cart .action ul li .add-to-cart:focus {
  background: #B633FF;
}

.product .product-info .name a:hover,
.product .product-info .name a:focus {
  color: #B633FF;
} 